/* IMPORT 
font-family: urw-din, sans-serif; (100,200,400,700)
font-family: urw-din-condensed, sans-serif; (100,200, 300,400,700)
font-family: urw-din-semi-condensed, sans-serif; (400,700)
font-family: bebas-neue-by-fontfabric, sans-serif; (400,700)
*/
@import url("https://use.typekit.net/syc5sfs.css");

/* IMPORT OPEN SANS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

* {
  /*     border: 1px solid; */
}

body {
  background-color: #f2f5ea;
  font-family: "urw-din";
  margin: 0;
  color: #2c363f;
}

a {
  text-decoration: none;
  color: #2c363f;
}

/* ======================== */
/* Popup */
/* ======================== */
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(170, 216, 228, 0.75);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 600px;
  height: 400px;
  color: #2c363f;
  display: block;
  margin: 50% 0 0 -300px;
  position: relative;
  top: 50%;
  left: 50%;
  background: #f2f5ea;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head {
  width: 90%;
  height: 32px;
  padding: 1.5em 5%;
  overflow: hidden;
  background: #eb597b;
}

.btn-close {
  width: 32px;
  height: 32px;
  display: block;
  float: right;
}

.btn-close::before,
.btn-close::after {
  content: "";
  width: 32px;
  height: 6px;
  display: block;
  background: #fff;
}

.btn-close::before {
  margin-top: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-close::after {
  margin-top: -6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.content {
  padding: 5%;
}

/* ======================== */
/* NAVIGATION BAR */
/* ======================== */

#container {
  box-sozong: border-box;
  padding-top: 60px;
}

.fa-bars {
  display: none;
}

.nav_wrapper {
  box-sizing: border-box;
  background-color: #f2f5ea;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  height: 60px;
  transition: all .5s ease;
}

.nav_wrapper_small {
  height: 30px;
  background-color: #add8e5;
}

nav {
  display: flex;
  align-items: center;
}

.nav_item {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav_item_small {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav_item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav_logo {
  height: 30px;
  margin: 0;
}

#programsMouseMove,
#resourcesMouseMove {
  margin: 0;
  padding: 0;
  position: relative;
}

#programsDrop,
#resourcesDrop {
  display: none;
  align-items: stretch;
  background-color: #e5e8dc;
  /*   display: flex; */
  flex-direction: column;
  left: 0px;
  position: absolute;
  /*  positioning  */
  text-align: center;
  top: 25px;
  width: 109px;
}

#programsDrop > a,
#resourcesDrop > a {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.displayNone {
  display: none;
}

/* ======================== */
/* SPLASH STYLES */
/* ======================== */

.splash {
  background-image: url("https://res.cloudinary.com/mtv1243/image/upload/v1553356196/37730644_1974767605877044_8917847970590752768_o_2.jpg");
  /*   background-image: url('https://res.cloudinary.com/mtv1243/image/upload/v1552239582/dewitt_wide_01.jpg'); */
  /*   background-image: url('https://res.cloudinary.com/mtv1243/image/upload/v1552603723/Wallpaper_Wed_072915-1_copy.jpg'); */
  background-size: cover;
  background-position: center;
  box-shadow: 0 0px 40px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 40em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  background-color: rgb(51, 98, 153, 0.7);
}

.logo > h1 {
  font-weight: 200;
}

/* ======================== */
/* Mailchimp Mailing List */
/* ======================== */
#mc_embed_signup {
  letter-spacing: 2px;
  padding-bottom: 50px;
  padding-top: 20px;
  /*   background-color: #748aaa; */
  text-align: center;
}

/* Mailing List title */
#mc_embed_signup_scroll > h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

/* input fields wrapper */
#mc_input_fields_flex {
  display: flex;
  /*   border: 1px solid; */
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
}

/* INPUT FIELDS */
#mce-EMAIL,
#mce-FNAME {
  background-color: #5a7baa;
  border: 1px solid #2c363f;
  border-radius: 3px;
  color: #ddd;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 15px;
  width: 200px;
}

/* input fields hover */
#mce-EMAIL:hover,
#mce-FNAME:hover {
  background-color: #36609e;
}

/* placeholder text */
input::placeholder {
  font-size: 16px;
  color: #ddd;
}

/* email and name and required labels */
.email_input_label,
.name_input_label,
.indicates-required {
  display: none;
}

/* subscribe button */
#mc-embedded-subscribe {
  background-color: #36609e;
  border: 3px solid #162740;
  border-radius: 4px;
  color: #ddd;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  padding: 15px;
  width: 200px;
}

/* subscribe button hover */
#mc-embedded-subscribe:hover {
  background-color: #1d4a8a;
}

/* ============================== */
/* Donate section */
/* ============================== */

.donate_wrapper {
  color: #2c363f;
  margin-bottom: 125px;
}

.donate_title {
  text-align: center;
  font-size: 130px;
  margin: 40px 0;
}

.donate_flex {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
  max-width: 900px;
  min-width: 650px;
}

.donate_box {
  align-items: center;
  background-color: #e75a7c;
  /*   background-color: #992E42; */
  border: 5px solid #2c363f;
  /*   color: #f2f5ea; */
  display: flex;
  font-size: 30px;
  height: 75px;
  justify-content: center;
  width: 150px;
}

/* ============================== */
/*  Programs Section */
/* ============================== */
.programs_section_wrapper,
.resources_section_wrapper,
.get_involved_section_wrapper {
  visibility: hidden;
}

.programs_section_wrapper:hover,
.resources_section_wrapper:hover,
.get_involved_section_wrapper:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.programs_section {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 110px;
  padding-top: 50px;
  animation-duration: 2.5s;
}

.programs_text {
  padding-right: 20px;
}

.section_desc {
  font-size: 25px;
}

.section_img {
  width: 350px;
  border-radius: 50%;
}

.readMore {
  font-weight: 700;
}

.readMore:hover {
  color: #e65a7c;
}

.section_title {
  font-size: 75px;
  margin: 0;
  text-decoration: underline;
}

.programs_section > img {
  height: 400px;
}

/* ============================== */
/* Create Grid */
/* ============================== */

.grid_wrapper {
  /*   background-image: url("https://res.cloudinary.com/mtv1243/image/upload/v1551471981/programs_bg_white.jpg"); */
  background-color: #3c54a4;
  background-size: cover;
  display: none;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.grid {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "dayhab supp wow";
  grid-gap: 0 10px;
  height: 300px;
  justify-items: center;
  width: 80%;
}

.learn_box {
  border: 5px solid #2c363f;
  /*   border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-color: #add8e5;
  transition: transform 150ms ease;
}

.learn_box h4 {
  font-size: 30px;
  text-align: center;
}

/* ================== */
/* Social */
/* ================== */
.social_wrapper {
  display: flex;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 35px;
  padding-top: 35px;
  justify-content: space-between;
}

.social {
  font-size: 25px;
  /*   color: #e65a7c; */
}

/* =========================== */
/* Footer Styles */
/* =========================== */

footer {
  background-color: lightblue;
  /*   padding-top: 80px; */
  border-top: 5px solid;
}

/* contact section */
.contact_wrapper {
  /*   border-top: 5px solid; */
  text-align: center;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0 auto;
  /*   background-color: #e65a7c; */
  /*   width: 100%; */
}

.contact {
  display: flex;
  font-size: 14px;
  justify-content: center;
}

.contact p {
  margin: 10px 5px;
  width: 90%;
}

/* ==================== */
/* TRANSITIONS */
/* ==================== */

.hover:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
}

.social > a > i:hover {
  transform: scale(1.05);
  color: #e65a7c;
}

/* ==================== */
/* ==================== */
/* MEDIA QUERIES */
/* ==================== */
/* ==================== */

@media screen and (max-width: 768px) {
  /* title/logo reformat */
  .logo {
    font-size: 16px;
    /*   background-color: rgb(51,98,153, .7); */
  }

  .logo > h1 {
    font-weight: 400;
  }

  /*  nav bar reformat  */
  #navSlideToggle {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
  }
  
/*   .navSlideToggleSmall {
    top: 30px;
  } */

  nav {
    background-color: #e9ebe2;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
  }

  .programs_wrapper a.nav_item,
  .resources_wrapper a.nav_item,
  nav > a.nav_item {
    display: block;
    padding: 40px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .fa-bars {
    display: block;
    cursor: pointer;
  }

  /*  reformat title size  */
  .title {
    font-size: 30px;
  }

  /*  Donate section reformat  */
  .donate_title {
    font-size: 80px;
  }

  .donate_flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    height: 375px;
  }

  .donate_box {
    align-items: center;
    background-color: #e75a7c;
    border: 5px solid #2c363f;
    display: flex;
    font-size: 30px;
    height: 75px;
    justify-content: center;
    width: 450px;
  }

  /*  reformat programs sections  */
  .programs_section {
    flex-direction: column;
    align-items: center;
  }

  .section_title {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .section_img {
    width: 300px;
  }

  .grid {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "programs"
      "get_involved"
      "resources";
    height: 1150px;
    justify-items: center;
  }

  .learn_box {
    border: 10px solid #2c363f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 350px;
    background-color: #add8e5;
    transition: transform 150ms ease;
  }

  .learn_box h4 {
    font-size: 75px;
    text-align: center;
  }

  .contact_wrapper .contact_title {
    font-size: 30px;
    margin: 0;
  }

  /*  Transitions  */

  .hover:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
  }
}

/* ============================= */
/* Small Mobile */
/* ============================= */

@media screen and (max-width: 425px) {
  /*  Donate reformat  */
  .donate_wrapper {
    width: 100%;
    height: 400px;
  }

  .donate_title {
    font-size: 50px;
  }

  .donate_flex {
    min-width: 100px;
  }

  .donate_box {
    width: 300px;
  }

  /*  popup window reformat  */
  .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(170, 216, 228, 0.75);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .modal-wrapper.open {
    opacity: 1;
    visibility: visible;
  }

  .modal {
    width: 300px;
    height: 450px;
    color: #2c363f;
    display: block;
    margin: 50% 0 0 -36%;
    position: relative;
    top: 50%;
    left: 50%;
    background: #f2f5ea;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
  }

  .head {
    width: 90%;
    /*   height:32px; */
    padding: 1.5em 5%;
    overflow: hidden;
    background: #eb597b;
  }

  /*  Mailing list reformat  */
  #mc_input_fields_flex {
    flex-direction: column;
    width: 80%;
  }

  #mc_embed_signup_scroll > h2 {
    font-size: 18px;
  }

  #mce-EMAIL {
    margin-bottom: 20px;
  }

  input#mc-embedded-subscribe {
    width: 210px;
  }

  /*  programs section reformat  */
  .programs_section {
    display: none;
  }

  /*  Grid reformat  */
  .grid_wrapper {
    height: 800px;
    display: flex;
  }

  .grid {
    height: 700px;
  }

  .learn_box {
    width: 300px;
    height: 200px;
  }

  .learn_box > h4 {
    font-size: 30px;
  }

  /*  footer reformat  */

  footer {
    padding-top: 25px;
  }

  /*  mailing list reformat  */
  .mail > form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .mail > h4 {
    font-size: 25px;
  }

  .mail > form > span {
    display: none;
  }

  /*  social reformat  */
  .social_wrapper {
    width: 50%;
    margin: 0 auto;
  }

  /*  contact section reformat  */
  div.contact {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}
